In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import os

# Creating train data

In [2]:
cols=['Img_ID']
for i in range(1,2501):
    s = 'Pixel' + str(i)
    cols.append(s)
cols.append('Diagnosis')

In [8]:
test_df = pd.DataFrame(columns = cols)

In [9]:
test_df.head()

Empty DataFrame
Columns: [Img_ID, Pixel1, Pixel2, Pixel3, Pixel4, Pixel5, Pixel6, Pixel7, Pixel8, Pixel9, Pixel10, Pixel11, Pixel12, Pixel13, Pixel14, Pixel15, Pixel16, Pixel17, Pixel18, Pixel19, Pixel20, Pixel21, Pixel22, Pixel23, Pixel24, Pixel25, Pixel26, Pixel27, Pixel28, Pixel29, Pixel30, Pixel31, Pixel32, Pixel33, Pixel34, Pixel35, Pixel36, Pixel37, Pixel38, Pixel39, Pixel40, Pixel41, Pixel42, Pixel43, Pixel44, Pixel45, Pixel46, Pixel47, Pixel48, Pixel49, Pixel50, Pixel51, Pixel52, Pixel53, Pixel54, Pixel55, Pixel56, Pixel57, Pixel58, Pixel59, Pixel60, Pixel61, Pixel62, Pixel63, Pixel64, Pixel65, Pixel66, Pixel67, Pixel68, Pixel69, Pixel70, Pixel71, Pixel72, Pixel73, Pixel74, Pixel75, Pixel76, Pixel77, Pixel78, Pixel79, Pixel80, Pixel81, Pixel82, Pixel83, Pixel84, Pixel85, Pixel86, Pixel87, Pixel88, Pixel89, Pixel90, Pixel91, Pixel92, Pixel93, Pixel94, Pixel95, Pixel96, Pixel97, Pixel98, Pixel99, ...]
Index: []

[0 rows x 2502 columns]

In [16]:
types = ['PNEUMONIA']

In [17]:
for t in types:
    s = 'test/' + t
    type_images = os.listdir(s)
    for i in range(230,390):
        img = type_images[i]
        img_path = 'test/' + t + '/' + img
        image = Image.open(img_path,  'r')
        image = image.resize((50,50))
        pixels = np.array(image.getdata())
        shape = list(pixels.shape)
        if len(shape) > 1:
            continue
        pixels = list(pixels)
        pixels.insert(0, img)
        pixels.append(t)
        test_df.loc[len(test_df)] = pixels

In [18]:
len(test_df)

620

In [20]:
test_df.head()

,Img_ID,Pixel1,Pixel2,Pixel3,Pixel4,Pixel5,Pixel6,Pixel7,Pixel8,Pixel9,...,Pixel2492,Pixel2493,Pixel2494,Pixel2495,Pixel2496,Pixel2497,Pixel2498,Pixel2499,Pixel2500,Diagnosis
0,IM-0001-0001.jpeg,29,29,27,27,28,30,28,26,27,...,184,144,166,82,26,29,31,33,34,NORMAL
1,IM-0003-0001.jpeg,32,71,114,148,149,184,184,182,175,...,197,145,120,16,27,26,33,34,32,NORMAL
2,IM-0005-0001.jpeg,37,37,33,30,35,39,34,36,31,...,198,182,167,166,88,26,28,33,35,NORMAL
3,IM-0006-0001.jpeg,83,91,87,81,111,125,134,119,106,...,197,179,200,205,181,164,144,106,145,NORMAL
4,IM-0007-0001.jpeg,39,35,33,33,28,28,31,33,30,...,193,178,153,92,35,41,43,42,46,NORMAL

In [21]:
column_list =test_df.columns

In [22]:
test_df.to_csv(r'C:\Users\Karunya V\Documents\sem5\ML lab\Package\test_csv.csv', index=False, header=column_list)